<section class="container">
    <div class="row">
        <div class="block mx-auto">
            <div class="col-xs-12 text-center" ng-if="store.plataformSelected">
                <h2 class="text-center">3º<br>Escolha o Seu Plano</h2><br>
                <small>-- plataforma selecionada --</small>
                <h3 class="text-center">{{store.plataformSelected.nome}}</h2>
                    <span>
                        Escolha o plano que me se ajusta as suas necessidades e clique em continuar.
                        <hr>
                    </span>
            </div>
            <div class="col-xs-12 text-center" ng-if="!store.plataformSelected">
                <h2 class="text-center">3º<br>Escolha o Seu Plano</h2><br>
                <small>-- plataforma --</small>
                <h3 class="text-center" style="color: red; font-weight: bold; font-size: small">NÃO SELECIONADA</h2>
                    <span>
                        Clique em voltar para selecionar a sua plataforma.
                        <hr>
                    </span>
            </div>
        </div>
    </div>
    <div class="block mx-auto" style="margin-top: 5%">
        <div ng-repeat="x in store.plans" class="col-xs-4" ng-if="store.plataformSelected">
            <input ng-change="changeSelectedRadio()" ng-model="store.selectedOption" type="radio"
                ng-model="store.planSelected" name="plano" value="{{$index}}" required style=" cursor: pointer;" />
            <label>Plano {{$index+1}}</label>
            <ul class="pricing p-green ">
                <li>Franquia: {{x.franquia}}</li>
                <li>R${{x.valor}}</li>
            </ul>
        </div>
        <div class="col-xs-12">
            <hr>
        </div>
        <div class="col-xs-6" style="margin-top: 5%">
            <a href="/#!/dados-plataformas" class="btn btn-primary btn-lg btn-block btn-huge">VOLTAR</a>
        </div>
        <div class="col-xs-6" style="margin-top: 5%">
            <a href="/#!/dados-cadastro" ng-disabled="!store.planSelected"
                class="btn btn-success btn-lg btn-block btn-huge">CONTINUAR</a><br>
        </div>
    </div>
    </div>
</section>
<div>