<section class="container">
    <div class="row white">
        <div class="block mx-auto">
            <div class="col-xs-12 text-center" style="padding: 20px; min-height: 70%;">
                <h2 class="text-center">1º<br>Início</h2>
                <span>
                    Para solicitar o seu plano você deve selecionar a plataforma desejada, escolher um pano disponível
                    para a plataforma desejada e finalizar a sua solicitação preenchendo o formulário de cadastro.
                    Assim rápidamente o seu dispositivo poderá contar com acesso e ligações ilimitadas.
                </span>
            </div>
            <div class="col-xs-12 text-center" style="padding: 20px"><a href="/#!/dados-plataformas"
                    class="btn btn-success btn-lg btn-block btn-huge">CONTINUAR</a></div>
        </div>
    </div>
</section>